<%= form_with(model: [:api, :v1, grocery_item]) do |form| %>
  <% if grocery_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grocery_item.errors.count, "error") %> prohibited this grocery_item from being saved:</h2>

      <ul>
        <% grocery_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :need %>
    <%= form.check_box :need %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
