<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grocery_item.name %>
</p>

<p>
  <strong>Need:</strong>
  <%= @grocery_item.need %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @grocery_item.unit %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @grocery_item.qty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grocery_item.description %>
</p>

<%= link_to 'Edit', edit_api_v1_grocery_item_path(@grocery_item) %> |
<%= link_to 'Back', api_v1_grocery_items_path %>
