<p id="notice"><%= notice %></p>

<h1>Grocery Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Need</th>
      <th>Unit</th>
      <th>Qty</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grocery_items.each do |grocery_item| %>
      <tr>
        <td><%= grocery_item.name %></td>
        <td><%= grocery_item.need %></td>
        <td><%= grocery_item.unit %></td>
        <td><%= grocery_item.qty %></td>
        <td><%= grocery_item.description %></td>
        <td><%= link_to 'Show', grocery_item %></td>
        <td><%= link_to 'Edit', edit_grocery_item_path(grocery_item) %></td>
        <td><%= link_to 'Destroy', grocery_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grocery Item', new_grocery_item_path %>
