<p id="notice"><%= notice %></p>

<p>
  <strong>Grocery item:</strong>
  <%= @ingredient.grocery_item_id %>
</p>

<p>
  <strong>Step:</strong>
  <%= @ingredient.step_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ingredient.unit %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @ingredient.qty %>
</p>

<%= link_to 'Edit', edit_api_v1_ingredient_path(@ingredient) %> |
<%= link_to 'Back', api_v1_ingredients_path %>
