<p id="notice"><%= notice %></p>

<p>
  <strong>Grocery item:</strong>
  <%= @item_location.grocery_item_id %>
</p>

<p>
  <strong>Store:</strong>
  <%= @item_location.store %>
</p>

<p>
  <strong>Section:</strong>
  <%= @item_location.section %>
</p>

<%= link_to 'Edit', edit_item_location_path(@item_location) %> |
<%= link_to 'Back', item_locations_path %>
